/* ---------------------------------------------------------------------------*/
/* Basic/Global styles                                                        */
/* ---------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p {
    font-weight: 300;
    color: #666; 
    line-height: 1.5em;
    font-family: 'Red Rose', cursive;
}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 20px; /* default font size, and then the h1 h2 etc will grow with it*/
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr auto;
}
img {
    overflow: hidden;
}

/* ---------------------------------------------------------------------------*/
/* Top Navigation Bar                                                         */
/* ---------------------------------------------------------------------------*/
/* Adding properties to the navigation bar */
.topnav {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background-color: #fcd5ce;
    font-family: 'Red Rose', cursive;
    position: fixed;
    top: 0px;
    padding: 20px;
    height: auto;
    margin-bottom: 2em;
    z-index: 1;
}
.topnav > .topnav-left {
    width: 20%;
}

.topnav > .topnav-left a {
    color: #680e0e;
    padding: 14px 16px; /*vertical horizontal*/
    text-decoration: none;
}

/* Style the links inside the navigation bar */
.topnav >.topnav-right {
    width: 80%;
    text-align: right;
}
.topnav >.topnav-right > .navlink {
    color: #680e0e;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the color of links on hover */
.topnav >.topnav-right .navlink:hover {
    background-color: #fff1e6;
    color: #680e0e;
    border-radius: 10%;
}
  
/* Add a color to the active/current link */
.topnav >.topnav-right > .active{
    color: #680e0e;
    border-radius: 10%;
    background-color: #fff1e6;
}

/* ---------------------------------------------------------------------------*/
/* Landing page blurb and image                                               */
/* ---------------------------------------------------------------------------*/
.home-page{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    margin-top: 10px; 
    position: absolute;
    top: 80px; /* makes it so the divs aren't overlapping*/
}
.home-page > .landing-blurb{
    width: 45%;
    text-align: right;
    position: relative;
    top: 100px;
}
.home-page > img.landing-img {
    width: 400px;
    height: 400px;
    left: 50px;
    position: relative;

    animation: float 10s ease-in-out infinite;
}

@keyframes float {
    0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(+30px);
	}
	100% {
		transform: translatey(0px);
	}
}


/* ---------------------------------------------------------------------------*/
/* my works page                                                              */
/* ---------------------------------------------------------------------------*/
.work-page{
    text-align: center;
    background-color: white;
}
.section__title {
    margin-top: 2em;
}
.section__subtitle {
    margin-bottom: 2em;
}

/* display grid onto the porfolio__item */
.portfolio{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));  
    justify-items: center;
    align-items: center;
}

/* center the img wrt a, using flex*/
.portfolio__item a > .portfolio_img{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.portfolio > .portfolio__item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    margin: 20px;
}

.portfolio__img{  
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
    max-width: 100%;
    max-height: 100%;
}

.portfolio > .portfolio__item a > .portfolio__img:hover{
    transform: scale(1.1);
    opacity: .5;
}

.description {
    text-align: center; 
    padding: 20px;
}

/* ---------------------------------------------------------------------------*/
/* about me page                                                              */
/* ---------------------------------------------------------------------------*/
.about-me-main{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    margin-top: 10px; 
    position: absolute;
    top: 80px;
}

.about-me-blurb{
    width: 50%;
    margin-right: auto;
    margin-top: 60px;
    margin-left: 270px;
    position: relative;
}
.about_photo{
    width: 50%;
    margin-left: 100px;
    margin-top: 60px;
    position: relative;
}


/* ---------------------------------------------------------------------------*/
/* footer                                                                     */
/* ---------------------------------------------------------------------------*/
.footer { /* controls the footer box */
    background-color: #6D6875;
    text-align: center;
    padding: 1.5em 0; /* space within box, between the content */
    bottom: 0;
    position: static;
    grid-row-start: 2;
    grid-row-end: 3;
}
.footer a { 
    color: #E5989B;
    text-decoration: none;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1em 0;
    padding: 0;
}

.footer-text {
    color: #E5989B;
    font-size: 14px;
}

.social-list__item {
    margin: 0 2em; /*without this the icons would be squished */
}

.social-list__link:hover {
    opacity: .7;
}

/*
border: 1px solid green;
    border-color: rgb(39, 39, 2);
    border-width: 3px;
    border-style: solid;
*/
